$primary-color: rgb(0, 90, 40);
$secondary-color: rgb(136, 212, 152);
$third-color: rgb(198, 218, 191);
$gray-1: rgb(40, 40, 40);
$header-color: rgb(0, 80, 35);
$date-color: rgb(243, 233, 210);

$timer-header-color: rgb(80, 2, 0);
$timer-secondary-color: rgb(212, 136, 152);
$timer-third-color: rgb(218, 191, 209);

$stopwtach-header-color: rgb(0, 43, 80);
$stopwatch-secondary-color: rgb(136, 195, 212);
$stopwatch-third-color: rgb(191, 218, 211);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: grid;
  min-height: 100%;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 80px auto auto 100px;
  font-family: "Noto sans", "Arial";
  background-color: $primary-color;
  color: white;
}

header {
  background-color: $header-color;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  font-size: 40px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, fr);
  grid-template-rows: repeat(2, fr);
  #header-title {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;
  }
  #language-supercontainer {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    justify-content: center;
    gap: 20px;
    &:hover {
      #language-list {
        display: block;
      }
    }
    #language-container {
      display: flex;
      gap: 10px;
      #languages-img {
        justify-self: center;
        align-self: center;
        cursor: pointer;
      }
      #selected-language {
        font-size: 12;
        justify-self: center;
        align-self: center;
      }
      #expand-img-top {
        justify-self: center;
        align-self: center;
      }
    }
    #language-list {
      display: none;
      position: absolute;
      background-color: $gray-1;
      color: white;
      border-radius: 5px;
      top: 50px;
      right: 170px;
      cursor: pointer;
      // Little temporary trick
      border-top: solid 8px $header-color;
      .language-pair {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: $secondary-color;
          color: $gray-1;
        }
        .language-icon {
          position: relative;
          margin: 0;
          display: inline-block;
          width: 22px;
          height: 14px;
          right: 40px;
          border-radius: 4px;
          top: 14px;
        }
        .language-option {
          justify-self: center;
          align-self: center;
          font-size: 12px;
          position: relative;
          display: inline-block;
          text-align: left;
          padding: 0px 20px 5px 40px;
        }
        .language-status {
          font-size: 12px;
          position: absolute;
          right: 3px;
          margin-top: 6px;
        }
      }
      .timer-language-pair {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: $timer-secondary-color;
          color: $gray-1;
        }
        // Repeating code
        .language-icon {
          position: relative;
          margin: 0;
          display: inline-block;
          width: 22px;
          height: 14px;
          right: 40px;
          border-radius: 4px;
          top: 14px;
        }
        .language-option {
          justify-self: center;
          align-self: center;
          font-size: 12px;
          position: relative;
          display: inline-block;
          text-align: left;
          padding: 0px 20px 5px 40px;
        }
        .language-status {
          font-size: 12px;
          position: absolute;
          right: 3px;
          margin-top: 6px;
        }
      }
      .stopwatch-language-pair {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: $stopwatch-secondary-color;
          color: $gray-1;
        }
        // Repeating code
        .language-icon {
          position: relative;
          margin: 0;
          display: inline-block;
          width: 22px;
          height: 14px;
          right: 40px;
          border-radius: 4px;
          top: 14px;
        }
        .language-option {
          justify-self: center;
          align-self: center;
          font-size: 12px;
          position: relative;
          display: inline-block;
          text-align: left;
          padding: 0px 20px 5px 40px;
        }
        .language-status {
          font-size: 12px;
          position: absolute;
          right: 3px;
          margin-top: 6px;
        }
      }
    }
  }
}

nav {
  //   background-color: orange;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .hr {
    color: $header-color;
    width: 90%;
    align-self: flex-start;
  }
  #clock-button-selector {
    background-color: $secondary-color;
    width: 10px;
    height: 38px;
    position: absolute;
    left: 20px;
    top: 230px;
    border-radius: 5px;
  }
  #timer-button-selector {
    display: none;
    background-color: $timer-secondary-color;
    width: 10px;
    height: 38px;
    position: absolute;
    left: 20px;
    top: 290px;
    border-radius: 5px;
  }
  #stopwatch-button-selector {
    display: none;
    background-color: $stopwatch-secondary-color;
    width: 10px;
    height: 38px;
    position: absolute;
    left: 20px;
    top: 350px;
    border-radius: 5px;
  }
  .mode-button {
    width: 70%;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    &:hover {
      color: $gray-1;
      background-color: $secondary-color;
    }
  }
  .mode-button-timer {
    width: 70%;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    &:hover {
      color: $gray-1;
      background-color: rgb(212, 136, 152);
    }
  }
  .mode-button-stopwatch {
    width: 70%;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    &:hover {
      color: $gray-1;
      background-color: rgb(136, 195, 212);
    }
  }
}

main {
  //   background-color: rgb(80, 0, 0);
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(2, fr);
  grid-template-rows: repeat(2, fr);
  align-items: center;
  justify-items: center;
  section {
    // background-color: purple;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    .clock-frame {
      background-color: $third-color;
      color: $gray-1;
      border-radius: 5px;
      #clock-time {
        font-size: 80px;
        padding: 10px;
        text-align: center;
      }
      #clock-date {
        font-size: 30px;
        text-align: center;
        background-color: $date-color;
      }
    }
    .timer-frame {
      display: none;
      #timer-time {
        font-size: 80px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: $timer-third-color;
        color: $gray-1;
        padding: 10px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, fr);
        grid-template-rows: repeat(3, fr);
        .timer-button {
          background-color: $timer-third-color;
          color: $gray-1;
          border: 0px none white;
          width: 50%;
          justify-self: center;
          border-radius: 3px;
          font-weight: bold;
          &:hover {
            background-color: $timer-secondary-color;
            color: $gray-1;
          }
          &:active {
            box-shadow: 1px 1px 1px 1px $gray-1;
          }
        }
        #timer-button-up-hour {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }
        #timer-button-up-minute {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
        }
        #timer-button-up-second {
          grid-column: 3 / 4;
          grid-row: 1 / 2;
        }
        #timer-button-down-hour {
          grid-column: 1 / 2;
          grid-row: 3 / 4;
        }
        #timer-button-down-minute {
          grid-column: 2 / 3;
          grid-row: 3 / 4;
        }
        #timer-button-down-second {
          grid-column: 3 /4;
          grid-row: 3 / 4;
        }
        #timer-time-content {
          grid-column: 1 / 4;
          grid-row: 2 / 3;
        }
      }
      #timer-options {
        font-size: 30px;
        text-align: center;
        background-color: $date-color;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        #timer-option-1,
        #timer-option-2 {
          font-size: 25px;
          margin: 5px 0px;
          background-color: $gray-1;
          color: white;
          border: 0px none white;
          width: 30%;
          justify-self: center;
          border-radius: 3px;
          &:hover {
            background-color: $timer-secondary-color;
            color: $gray-1;
          }
          &:active {
            box-shadow: 1px 1px 1px 1px $gray-1;
          }
        }
      }
    }
    .stopwatch-frame {
      background-color: $stopwatch-third-color;
      color: $gray-1;
      border-radius: 5px;
      display: none;
      #stopwatch-time {
        font-size: 80px;
        padding: 10px;
        text-align: center;
      }
      #stopwatch-options {
        font-size: 30px;
        text-align: center;
        background-color: $date-color;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        #stopwatch-option-1,
        #stopwatch-option-2 {
          font-size: 25px;
          margin: 5px 0px;
          background-color: $gray-1;
          color: white;
          border: 0px none white;
          width: 30%;
          justify-self: center;
          border-radius: 3px;
          &:hover {
            background-color: $stopwatch-secondary-color;
            color: $gray-1;
          }
          &:active {
            box-shadow: 1px 1px 1px 1px $gray-1;
          }
        }
      }
    }
  }
  aside {
    // background-color: gray;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    gap: 4px;
    #expand-img {
      cursor: pointer;
    }
  }
}

footer {
  //   background-color: green;
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
